[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

"flake8" = "*"
[dev-packages]
django-extensions = "*"
factory-boy = "==2.11.1"
ipdb = "==0.11"
pytest = "==3.7.1"
pytest-cov = "==2.5.1"
pytest-django = "==3.3.3"

[packages]
django = "==2.1"
psycopg2 = "==2.7.5"
python-decouple = "==3.1"
restless = "==2.1.1"

[requires]
python_version = "3.7"
